li{
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color:black;
   }
   .nav-links a {
	color:coral;
}
.menu {
    display: flex;
    font-size: 20px;
    padding: 1px;
    background-color: black;
    text-align: right;
   }
   .menu li:hover {
    background-color:aliceblue;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 20px 14px;
    }
   
   #wrap{
	width:730px;
	margin:70px auto;
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color:coral;
	border:1px #eee solid;
	padding:70px 70px 20px 70px;
	-webkit-box-shadow:0 0 50px #aaa;
	-moz-box-shadow:0 0 30px #aaa;
	box-shadow:0 0 50px #aaa;
	
   }
   body{
	font-family:Arial, Helvetica, sans-serif;
   }
   h1{
	font-size:40px;
	margin:0 0 30px 0;
	letter-spacing:-1px;
}
h2{
	font-size:34px;
	margin:0 0 20px 0;
}
.h3{
    font-size:40px;
	margin:30px 0 20px 0;
    
}
h4{
	font-size:20px;
	margin:30px 0 15px 0;
    
}
h5{
	font-size:20px;
	margin:30px 0 5px 0;
}
p{
	font-size:18px;
	line-height:22px;
	margin:0 0 15px 0;
    display: inline-block;
}
a{
	text-decoration:none;
	color:coral;
    font: bold;
    font-size: 20px;
}
a:hover{
	color:cadetblue;
}
#header-img{
    text-align: left;
    
}
#header #header-content h1{
	margin:0 0 2px 0;
	color:coral;
}
#header #header-content h2{
	color:#0b8bbb;
	font-size:33px;
}
.cv-section h3{
    text-align: center;
}
.cv-section h4{
    font-size: 20px;
}
#header #header-content p{
	font-size:25px;
	margin:0 0 0 1px;
    background-color: #13293d;
}
.wrapper { 
    width: 100%;
    margin: 5% auto;
  }   
  .wrapper a {
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: 10px;
    display: inline-block;
    overflow: hidden; 
    }
    .container{
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        
        padding: 5px;
        margin: auto;
        
     }
    
    .projects header{
        background: #13293d;
        color: white;
        font: bold;
        font-size: 20px;
        padding: 20px;
        margin:auto;
        width:50%;
        cursor: pointer;
        text-align: center;
    }
    
    .card header{
        padding: 20px;
        background: #13293d;
        color: #fff;
        font: bold;
        font-size: 20px;
        margin-left: 55px;
        margin-right: 55px;
        cursor: pointer;
        text-align: center;
    }
    
    .container img{
        max-width: 354px;
        height: 200px;
        justify-content: center;
        margin-left: 55px;
        margin-right: 55px;
        margin-bottom: 5px;
    }
    .projects img:hover,
    .container img:hover{
        cursor: pointer;
        opacity: 0.5;
        transition: 0.5s;
    }
    .footer{
        background: #13293d;
        color: #fff;
        font: bold;
        font-size: 20px;
        margin-left: 55px;
        margin-right: 55px;
        cursor: pointer;
        text-align: center;
       
    }
    .address{
        text-align: center;
    }
    